* {
  padding: 0;
  margin: 0;
}
a {
  margin-right: 1rem;
}
a:hover {
  text-decoration: none;
}

body {
  background-color: #eee;
  padding-top: 1rem;
}
.container {
  background-color: #fff;
  border-radius: 20px;
  width: 31.25rem;
  height: 31.25rem;
  padding: 1.25rem;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.2);
}

.inputArea {
  width: 100%;
  border-bottom: solid 0.5px #555;
}
.inputArea input {
  flex-grow: 1;
}
.todoDisplay {
  margin-top: 1rem;
  width: 100%;
  padding: 0 1rem;
}
ul {
  list-style-type: none;
}
li {
  margin: 0.5rem 0;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.2);
  min-height: 4rem;
  background-color: rgb(250, 244, 155);
}

li > div {
  width: 100%;
}

.completedBtn {
  border: rgba(85, 85, 85, 0.212) solid 1px;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  transition: 0.5s;
  flex-grow: 0;
}

.completedBtn:hover {
  background-color: #fd7e14;
  border: none;
}
.completedBtn:hover .fa-check {
  color: rgb(250, 244, 155);
}
.fa-check,
.fa-trash-alt,
.fa-pen {
  color: rgba(85, 85, 85, 0.212);
  transition: 0.5s;
}

.todoItem {
  overflow: hidden;
  flex-grow: 1;
}
.todoItemChecked {
  color: rgb(180, 180, 180);
}
.editnDeleteBtns {
  flex-grow: 0;
}
.deleteBtn,
.editBtn {
  height: 4rem;
  width: 2rem;
  transition: 0.5s;
}
.deleteBtn:hover i {
  color: #dc3545;
}
.editBtn:hover i {
  color: #007bff;
}

#input,
#send {
  margin: 0 1rem;
}

#editInput {
  flex-grow: 1;
}
.saveBtn {
  flex-grow: 0;
  margin-left: 1rem;
}

@media (max-width: 540px) {
  .container {
    width: 90vw;
    height: 90vh;
    min-height: 30rem;
  }
  a {
    margin-right: 0rem;
  }
  .saveBtn {
    font-size: 0.5rem;
    padding: 0.125rem;
    width: 2.5rem;
    height: 2rem;
    margin: 0;
  }
  .completedBtn {
    width: 2rem;
    height: 2rem;
  }
}
