* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background-color: #eee;
}
.homepage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoCard {
  background-color: #fff;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.wallpaper {
  position: absolute;
  top: 0;
  width: 400px;
  height: 200px;
  background-image: url(./introduction/images/nyc.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}
.headpic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 100px;
  background-image: url(./introduction/images/IMG_0775.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.name {
  font-size: 32px;
  margin: 10px auto 5px auto;
  color: #555;
}
.job {
  font-size: 24px;
  margin-bottom: 20px;
  color: #555;
}
.content {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  color: #555;
}

.icon {
  margin: auto 10px;
}

.content > .icon {
  color: #555;
  font-size: 32px;
}
.content > .icon:hover {
  color: purple;
}
.blankDiv {
  visibility: hidden;
}
.readmore {
  border-bottom: 0.5px solid #555;
}
.readmore > a {
  text-decoration: none;
  color: #555;
}

@media (max-width: 540px) {
  .infoCard {
    width: 90vw;
    height: 135vw;
  }
  .wallpaper {
    width: 90vw;
    height: 45vw;
  }
  .headpic {
    width: 45vw;
    height: 45vw;
    margin-top: 22vw;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
  .name {
    font-size: 20px;
  }
  .job {
    font-size: 18px;
  }
  .content {
    font-size: 16px;
  }

  .icon {
    margin: auto 8px;
  }

  .content > .icon {
    font-size: 16px;
  }
  .readmore {
    margin-bottom: 8px;
  }
}
