::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #eee;
}
header {
  position: fixed;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  z-index: 1;
}

main {
  padding-top: 80px;
  height: 300vh;
}

.profileImg {
  width: 150px;
  height: 150px;
  box-shadow: 0 0 0 3px red inset;
  border-radius: 50%;
}

.profileImg img {
  height: 90%;
  width: 90%;
  border-radius: 50%;
  transform: translate(5%, 5%);
}

span.blueCheck {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background-image: url("https://www.instagram.com/static/bundles/es6/sprite_core_2x_bcd90c1d4868.png/bcd90c1d4868.png");
  background-position: -194px -351px;
  background-size: 440px 411px;
  background-repeat: no-repeat;
}
a.btn {
  padding-right: 25px;
  padding-left: 25px;
}
.highlight {
  padding-top: 40px;
  padding-bottom: 80px;
  border-bottom: 1px solid #ccc;
}
.circle {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #ccc inset;
}

.circle img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  transform: translate(5%, 5%);
}

.pageLink {
  text-align: center;
  width: 60px;
  margin: -1px 40px;
  padding-top: 20px;
  border-top: 1px solid #000;
}

.contentArea img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.relatedAccArea {
  background-color: #fff;
}
.relatedAccounts {
  width: 100%;
  overflow: hidden;
  overflow: auto;
}
.cards {
  min-width: 200px;
}
.cardImgArea {
  width: 50px;
  height: 50px;
}
.cardImgArea img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.relative-btn-right {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.466);
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 50%;
}
.relative-btn-left {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.466);
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 50%;
}

.relative-btn-left.hide {
  display: none !important;
}
