* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #555;
}
hr {
  border: 0;
  height: 4px;
  background-color: #fdc300;
  width: 50px;
  margin: 30px auto;
}
.d-flex {
  display: flex;
}
.navbar {
  width: 100vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
}
.homepage,
.page1,
.page2 {
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.homepage {
  height: 100vh;
  background-image: url(./images/nyc.jpg);
}
.homepage > div {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homepage > div > div:not(.smallword) {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 1px 1px 2px #555;
}
.smallword > div {
  color: #ffffffd0;
  font-size: 1.125rem;
  text-align: center;
}
.smallword > div:nth-child(2) {
  color: #fdc300;
}

.page1 {
  background-image: url(./images/dogncat.jpg);
  background-attachment: fixed;
}
.page1 > div {
  background-color: rgba(0, 0, 0, 0.5);
  height: 90vh;
  width: 100vw;
  padding: 5vh 0;
}
.page1 > div > .d-flex {
  align-items: center;
  flex-direction: column;
}
.topic {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.page1Content {
  overflow: auto;
  height: 75vh;
}
.page1Content::-webkit-scrollbar {
  display: none;
}
.box {
  width: 80vw;
  max-width: 600px;
  /* height: 150px; */
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 10px;
  margin: 20px;
}
.box > .d-flex {
  flex-direction: column;
  justify-content: center;
  margin: 1vh 0;
}
.box > .d-flex > .d-flex {
  justify-content: space-between;
}
.box > .d-flex > .d-flex:nth-child(2) {
  margin-bottom: 0.3rem;
}
.box > .d-flex > .d-flex > div {
  color: rgb(29, 29, 29);
}
.box > .d-flex > div {
  color: rgb(39, 39, 39);
}
.title {
  font-size: 1.125rem;
  font-weight: 500;
}
.about {
  background-color: #fdc300;
  padding: 5% 0;
  height: 40vh;
}
.about hr {
  background-color: #fff;
}
.aboutContent {
  text-align: center;
}
.aboutContent > div {
  color: #fff;
  font-size: 1.25rem;
}
.linkTo {
  margin: 2rem;
}
.linkTo a {
  margin: 0 0.5rem;
}
.linkTo i {
  color: #fff;
  font-size: 2rem;
  transition: 0.5s;
}
.linkTo i:hover {
  color: #fda400;
}

.aboutContent > div:nth-child(1) {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.skill {
  background-color: #eee;
  height: 50vh;
  padding: 5% 10%;
}
.skill .topic {
  color: rgb(17, 17, 17);
}

.skill > .d-flex {
  height: 70%;
}
.skill > .d-flex > .d-flex {
  width: 33.333%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.skill > .d-flex > .d-flex > div:nth-child(1) {
  font-size: 1.85rem;
  color: #222222;
}
.skill > .d-flex > .d-flex > :nth-child(2) {
  font-size: 1.5rem;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

.skillsItems {
  margin: 10px 0;
}
.page2 {
  background-image: url(./images/dogncat.jpg);
  background-attachment: fixed;
}
.page2 > div {
  background-color: rgba(0, 0, 0, 0.2);
  height: 90vh;
  width: 100vw;
}
.page2 > div > div {
  padding: 5vh 10%;
}
.works > div {
  width: 50%;
}
.works a {
  text-decoration: none;
}
.works .d-flex {
  flex-direction: column;
  align-items: center;
}
.workTitle {
  font-size: 2rem;
  color: #eee;
  text-decoration: none;
}

.workTitle {
  color: #fff;
  margin-bottom: 1rem;
  border-bottom: #eee solid 1px;
}
.mywork {
  width: 95%;
  height: 60vh;
  text-align: center;
}
.myworkImg {
  height: 100%;
}

@media (max-width: 540px) {
  .homepage > div > div:not(.smallword) {
    font-size: 2.5rem;
  }
  .smallword > div {
    font-size: 1rem;
  }
  .topic {
    font-size: 2rem;
  }
  .about {
    height: 100vh;
    max-height: 400px;
    padding: 10%;
  }
  .aboutContent > div {
    font-size: 1rem;
  }
  .aboutContent > div:nth-child(1) {
    font-size: 1.25rem;
  }
  .skill {
    height: 100vh;
    min-height: 700px;
  }

  .skill > .d-flex {
    flex-direction: column;
  }
  .skill > .d-flex > .d-flex {
    width: 100%;
    margin-bottom: 10vh;
  }
  .skill > .d-flex > .d-flex > div:nth-child(1) {
    font-size: 1.5rem;
  }
  .skill > .d-flex > .d-flex > :nth-child(2) {
    font-size: 1.125rem;
  }
  .title {
    font-size: 1rem;
    font-weight: 500;
  }
  .mobileDate {
    flex-direction: column;
  }
  .works {
    flex-wrap: wrap;
  }
  .works > div {
    width: 100%;
    margin-bottom: 1rem;
  }
  .workTitle {
    font-size: 1rem;
  }
  .myworkImg {
    width: 100%;
  }
  .page2 {
    height: 200vh;
  }
}
