* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #555;
}
.navbar {
  width: 100vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
}
.page1,
.page2 {
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.page1 {
  background-image: url(./images/dogncat.jpg);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}
.flex {
  display: flex;
}
.page1 > div {
  padding: 15vh;
  overflow: auto;
}
.page1 > div::-webkit-scrollbar {
  display: none;
}
.box {
  width: 80vw;
  max-width: 600px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 10px;
  margin: 10px;
}
.box > .flex {
  flex-direction: column;
  justify-content: center;
  height: 85%;
}
.box > .flex > .flex {
  justify-content: space-between;
}
.title {
  height: 15%;
}

.page2 {
  background-image: url(./images/nyc.jpg);
}

@media (max-width: 540px) {
  .page1 > div {
    padding: 10px;
  }
  .box {
    min-height: 200px;
  }
}
