* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Noto Sans TC", sans-serif, Arial, sans-serif;
  color: #555;
  /* box-sizing: border-box; */
}
a {
  text-decoration: none;
}
hr {
  border: 0;
  height: 4px;
  background-color: #fdc300;
  width: 50px;
  margin: 30px auto;
}
.d-flex {
  display: flex;
}

.navbar {
  width: 100vw;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.705);
  position: fixed;
  padding: 10px;
  align-items: center;
  z-index: 2;
  justify-content: space-between;
}
.websiteTitle {
  color: #eee;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.linkgroup > div {
  margin: 0 1rem;
  color: #ccc;
}

.homepage,
.page1 {
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.page2 {
  background-size: cover;
  background-position: center;
}

.homepage {
  background-image: url(../images/nyc.jpg);
}
.homepage > .d-flex {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hpTitle {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 1px 1px 2px #555;
}
.smallword {
  flex-direction: column;
}
.smallword span {
  color: #ffffffd0;
  font-size: 1.125rem;
  text-align: center;
}
.smallword > span:nth-child(2) {
  color: #fdc300;
}

.about {
  background-color: #fdc300;
  padding: 5% 0;
  height: 40vh;
  min-height: 20rem;
}
.about hr {
  background-color: #fff;
}
.aboutContent {
  text-align: center;
}
.aboutContent h1 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
}

.introduction {
  font-size: 1.25rem;
  padding: 0 6rem;
  color: #fff;
  margin: 2rem;
}

.skill {
  background-color: #eee;
  height: 50vh;
  min-height: 26rem;
  padding: 5% 10%;
}
.skill .topic {
  color: rgb(17, 17, 17);
}

.skillSection {
  width: 25%;
  text-align: center;
}
.skillSection h2 {
  font-weight: 500;
  font-size: 1.85rem;
  color: #222222;
}

.skillSection div {
  font-size: 1.25rem;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.skillsItems {
  line-height: 2rem;
}

.page1 {
  background-image: url(../images/lincoln-center-for-the-performing-arts-3840x2160-new-york-ny-usa-8540.jpg);
  background-attachment: fixed;
  overflow: hidden;
}
.page1 > .d-flex {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  padding: 5% 0;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.topic {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.experience {
  overflow: auto;
  height: 75vh;
}
.experience::-webkit-scrollbar {
  display: none;
}
.box {
  width: 80vw;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 0.625rem;
  margin: 1.25rem;
}
.box > .d-flex {
  flex-direction: column;
  justify-content: center;
  margin: 1vh 0;
}
.mobileDate {
  justify-content: space-between;
}
.d-flex > .mobileDate:nth-child(2) {
  margin-bottom: 0.3rem;
}
.mobileDate > span {
  color: rgb(29, 29, 29);
}
.title {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}
.boxContent {
  font-family: "Noto Sans TC", sans-serif;
  color: rgb(39, 39, 39);
}

.page2 {
  background-image: url(../images/lincoln-center-for-the-performing-arts-3840x2160-new-york-ny-usa-8540.jpg);
  background-attachment: fixed;
  /* min-height: 900px; */
}
.page2 > div {
  background-color: rgba(0, 0, 0, 0.2);
  /* height: 100vh; */
  min-height: 1000px;
  width: 100vw;
  padding: 5% 10% 0 10%;
  box-sizing: border-box;
  overflow: auto;
}

.works {
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  height: 25rem;
  width: 22rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.workTitle {
  text-align: center;
  font-size: 1.25rem;
  color: #eee;
  text-decoration: none;
  color: #555;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
  border-bottom: #eee solid 2px;
  line-height: 1.5rem;
}

.workImg {
  width: 100%;
  height: 10rem;
  text-align: center;
  overflow: scroll;
  margin-bottom: 1rem;
}
.workImg img{
  width: 100%;
}

.workImg a img {
  width: 100%;
}

.myworkImg2 {
  height: 100%;
}
.contact {
  height: 60vh;
  min-height: 500px;
  padding: 5vh 10%;
  background-color: #eee;
}
.contact > .topic {
  color: #555;
}
.headpic {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-image: url(../images/大頭照.jpg);
  background-size: cover;
  background-position: center;
}
.headpicOutside {
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 16rem;
  background-color: rgba(218, 218, 218, 0.466);
  border-radius: 50%;
  margin: auto;
}
.name {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}
.icons {
  text-align: center;
  margin: 1rem 0;
}
.icon {
  font-size: 2rem;
}
i {
  transition: 0.5s;
}
i:hover {
  color: #fdc300;
}

.footer {
  background-image: url(../images/lincoln-center-for-the-performing-arts-3840x2160-new-york-ny-usa-8540.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.footer > .d-flex {
  background-color: rgba(0, 0, 0, 0.5);
  height: 20vh;
  justify-content: center;
  align-items: center;
}
.footer > .d-flex > div {
  color: #eee;
}

@media (max-width: 540px) {
  .hpTitle {
    font-size: 2.5rem;
  }
  .smallword > div {
    font-size: 1rem;
  }
  .topic {
    font-size: 2rem;
  }
  .about {
    height: 100vh;
    max-height: 400px;
    padding: 10%;
  }
  .aboutContent > p:nth-child(1) {
    font-size: 1.25rem;
  }

  .aboutContent > p {
    margin: 1rem 0;
  }

  .introduction {
    font-size: 1rem;
    padding: 0;
  }
  .skill {
    height: 175vh;
    min-height: 700px;
  }

  .skill > .d-flex {
    flex-direction: column;
  }
  .skillSection {
    width: 100%;
    margin-bottom: 10vh;
  }
  .skillSection > div:nth-child(1) {
    font-size: 1.5rem;
  }
  .skillSection > .d-flex {
    font-size: 1.125rem;
  }

  .title {
    font-size: 1rem;
    font-weight: 500;
  }
  .mobileDate {
    flex-direction: column;
  }

  .works > div {
    width: 100%;
    margin-bottom: 1rem;
  }
  .workTitle {
    font-size: 1rem;
  }
  .myworkImg2 {
    width: 100%;
  }
  .page2,
  .page2 > div {
    height: 250vh;
  }
}
