body {
  background-color: #eee;
}
.d-flex > a {
  text-decoration: none;
  color: #555;
}
.container {
  background-color: #fff;
  border-radius: 20px;
  width: 31.25rem;
  height: 31.25rem;
  padding: 1.25rem;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.2);
}

.buttonGroup {
  width: 100%;
  border-bottom: solid 0.5px #555;
}
.buttonGroup > .d-flex {
  justify-content: space-around;
}
.number {
  width: 1.25rem;
  height: 1.25rem;
}
.numberClick {
  background-color: #efefef;
  border-radius: 50%;
  box-shadow: -1px -1px 2px 1px #999;
}


@media (max-width: 540px) {
  .container {
    width: 90vw;
    height: 90vh;
    min-height: 30rem;
  }

  .buttonGroup > .d-flex {
    flex-wrap: wrap;
    justify-content: start;
  }
  .buttonGroup > .d-flex > button,
  input {
    margin: 1px;
  }
  #reply {
    width: 90%;
  }
  #start {
    width: 30%;
  }
  #confirm,
  #restart {
    width: 45%;
  }
}
